{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <h5 class="p-2 bg-primary text-white text-center">TERMS & CONDITIONS FOR FULL TARIFF RATE(FTR) REGISTRATION</h5>
        <ol>
            <li>Pilot for WR: Online booking of FTR is on pilot basis and currently booking is allowed for journey
                starting from stations of Western Railway only.
            </li>
            <li>
                Booking Process: FTR registration can be done either on IRCTC website- ftr.irctc.co.in or on UTS counter
                of journey commencing station.
            </li>
            <li> Booking period: FTR registration can be done maximum 6 months in advance and minimum 30 days prior to
                journey date.
            </li>
            <li>Payment realization:

                <p> Registration on IRCTC website: Party will provide the booking type, journey details of coaches, and
                    route. After submission of the request, party will get a reference number and registration amount to
                    be paid. Party has to pay the registration amount against provided reference number to get FTR
                    number. Payment of registration amount must be received within 6 days (including FTR request submit
                    day). After 6 days, FTR Reference Number will be flushed and party has to follow the above mentioned
                    process again to book a FTR coach/train.</p>
                <p> Registrations on UTS counter: Party will go to CBS (Chief Booking Supervisor)/Station Master (SM) of
                    journey commencing station and provide written request containing journey details for FTR booking.
                    CBS will feed these details in FTR system. CBS will provide a system generated slip to the party.
                    This slip will contain the reference number and registration amount payable by party. Party will go
                    to UTS counter and will deposit the registration money against the reference number. After
                    confirmation of payment, printed money receipt will be provided to party with a unique FTR number
                    printed on it. Party will go to CBS with this FTR number. At CBS counter, party can request and get
                    a printout of his request details by providing the FTR number.</p>
            </li>
            <li>
                Refund process: In case of cancellation, either by party or by railway, refund will be processed as per
                existing manual process through Chief Commercial Manager (PM).
            </li>
            <li>
                Permissible number of coaches:
                <p>
                    Coach Booking: Party can book maximum 10 numbers of coaches on FTR in a train in one tour programme.
                </p>
                <p>
                    Train Booking: Party can book maximum 24 coaches in FTR train including 2 SLR. 2 SLR coaches are
                    mandatory.
                </p>
            </li>
            <li>Registration Amount:
                <p> Coach Booking: Registration amount for booking of a coach up to 7 days of tour journey period is
                    Rs.50,000/- per coach. Beyond 7 days of tour journey period, additional Rs.10,000/- per day/per
                    coach will be payable and added in registration amount.</p>
            </li>
            <li>
                Train Booking: Registration amount for booking of a train is amount for minimum of 18 coaches (including
                minimum two SLR coaches) and up to 7 days of tour journey period is Rs.900,000/-. Beyond 18 passenger
                coaches, additional Rs.50,000/- per coach will be added in the registration amount. For tour period
                beyond 7 days, additional Rs.10,000/- per day per coach will be added in registration amount.Even for
                booking of a train with less than 18 coaches, registration amount for 18 coaches as minimum will be
                charged.
            </li>
            <p>The above amount may change in case of any revision by Ministry of Railways from time to time.</p>
            <li> Registration of coaches/trains does not guarantee the supply of coaches/trains. This will be subject to
                the operational feasibility and availability of coaches.
            </li>
        </ol>
    </div>
{% endblock %}