{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <h5 class="bg-primary text-white text-center p-2">UNRESERVED MOBILE TICKETING SERVICES</h5>
        <p>
            An Un-Reserved Ticket through Mobile Application (UTS app) has been started from 27 Dec, 2014 from Mumbai
            Suburban area. This app is available free of cost for Android & Windows mobile phones.
        </p>
        <p>

            Currently, the application is enabled in the Chennai and Mumbai suburban section. There are two modes of
            taking mobile journey tickets.
        </p>
        <ol>
            <li>
                Paper Ticket: The passenger can book ticket through the mobile app. On booking of ticket, he/she will
                get Booking ID along with other ticket details and take print out at the Automatic Ticket Vending
                Machine (ATVM) using the booking ID. This mode of ticket is enabled in Mumbai suburban area except
                Churchgate to Dahanu Road section of Mumbai suburban of Western Railway.
            </li>
            <li>
                Paperless Ticket: The passenger can book paperless ticket through mobile application and ticket will be
                delivered in the mobile application itself. The passenger can travel without taking hardcopy of the
                ticket. This mode of ticket is enabled in Chennai suburban area and Churchgate to Dahanu Road section of
                Mumbai suburban of Western Railway. In order to have paperless ticket, the Smartphone should be GPS
                enabled.
            </li>
        </ol>
        For detail, please visit website<a href="https://www.utsonmobile.indianrail.gov.in">https://www.utsonmobile.indianrail.gov.in</a>
        <p>Also check here for:</p>
        <p><a href="https://www.utsonmobile.indianrail.gov.in/RDS/images/HELP_ANDROID.pdf">Paper ticket help document
            for
            Android Application</a></p>
        <p><a href="https://www.utsonmobile.indianrail.gov.in/RDS/images/HELP_WINDOWS.pdf">Paper ticket help document
            for
            Window Application</a></p>
        <p><a href="https://www.utsonmobile.indianrail.gov.in/RDS/images/HELP_ANDROID_Paperless.pdf">Paperless ticket
            help
            document for Android Application</a></p>
        <p><a href="https://www.utsonmobile.indianrail.gov.in/RDS/images/HELP_WINDOWS_Paperless.pdf">Paperless ticket
            help
            document for Window Application</a></p>
    </div>


{% endblock %}