{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <div style="padding: 5px; margin-bottom: 2px">
            <div class="row text-center bg-primary text-white p-2" style="padding: 5px;">
                <strong>
                    Rules For Luggage</strong>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <br>
                    Luggage which is not fully and legibly addressed in English or Hindi will not be accepted for
                    booking and carriage by train. Luggage which is not securely packed will not be accepted for
                    booking and carriage unless the sender or his authorized agent executes a forwarding note and
                    record there in such defects or improper packing. Luggage which is required to travel by the
                    same train with the owner should be presented at the luggage office of the booking station at
                    least 30 minutes before the advertised departure time of the train . Passengers booking their
                    accommodation in advance are permitted to book their luggage in advance at the same time. Bulky
                    surcharge is applicable only on package weighing above 100 kgs or exceeding 1m*1m*0.7m in
                    outside measurement. Package s exceeding any one of the dimension specified will be treated as
                    bulky even though the actual weight is less than 100 kgs on volu-metric basis. However if one of
                    the dimension is exceeded by 10% of the prescribed measurement but weight is within 100 kgs., on
                    volumetric basis, it will not be treated as bulky. Bulky surcharge will be levied at double the
                    normal rate.<br><br>

                    Offensive articles, explosive, dangerous, inflammable articles and empty gas cylinders, dead
                    poultry, and game, acids and other corrosive substance are not permitted to be booked as
                    luggage.<br><br>

                    Trunks, suitcase and boxes having outside measurement of 100 cms. x 60 cms x 25 cms (length x
                    breadth x height) will be allowed to be carried in the passenger compartments as personal
                    luggage. If the trunks, suitcase, and boxes, which in outside measurement exceed any one of the
                    dimension, such articles are required to be booked and carried in the brake van and not in the
                    passengers' compartment . Maximum size of the trunks/suitcase than can be carried in the AC-3
                    tire and AC chair Car compartment is 55 cmsx45 cms x 22.5 cms.<br><br>

                    Oxygen cylinder with its supporting stand with patients under medical certificate can be
                    permitted to be carried in all classes. Free allowance of luggage will be granted on oxygen
                    cylinder and its supporting stand.<br><br>

                    Merchandized items are not permitted for booking and carriage in the compartment as personal
                    luggage.<br><br>

                    Luggages of larger dimension are to be carried only by brake van . The minimum charge for
                    luggage is Rs.30. <br><br>

                    As per instructions, there is no restriction on carriage of luggage in brake van of passenger
                    trains as far as quantity and type (personal or merchandise) of luggage offered for booking is
                    concerned .However, the excess luggage in owner's charge beyond the free allowance is charged at
                    1.5 times the rates under scale-L.<br><br>

                    Each passenger is allowed a free allowance up to which he can carry luggage with him in the
                    compartment, free of cost. The free allowance varies for different classes of travel. Children
                    aged 5 and below 12 years are allowed half of the free allowance subject to the maximum of 50
                    Kgs. You are also permitted a marginal allowance. There is a maximum ceiling on the luggage
                    which can be carried inside the compartment for each class. These are indicated in the table
                    below : <br>
                    <br>

                    The following maximum limit free allowance, marginal allowance are admissible for carriage of
                    luggage in the compartment :

                    <br><br>

                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table
                               class="table table-bordered col-md-12" id="table1">
                            <tbody>
                            <tr class="bg-primary text-white">
                                <td  class="heading_table_top">Class</td>
                                <td  class="heading_table_top">Free
                                    allowance
                                </td>

                                <td  class="heading_table_top"> Marginal
                                    allowance
                                </td>
                                <td  class="heading_table_top">Maximum
                                    quantity permitted ( including free allowance)
                                </td>
                            </tr>


                            <tr>
                                <td  class="table_border_both_left">AC First Class</td>
                                <td  class="table_border_both_left">70 Kgs</td>

                                <td  class="table_border_both_left">15 Kgs</td>
                                <td  class="table_border_both_left"> 150 Kgs</td>
                            </tr>
                            <tr>
                                <td  class="table_border_both_left">AC 2-Tier sleeper/First class
                                </td>
                                <td  class="table_border_both_left">50 Kgs</td>

                                <td  class="table_border_both_left">10 Kgs</td>
                                <td  class="table_border_both_left">100 Kgs</td>
                            </tr>
                            <tr>
                                <td  class="table_border_both_left">AC 3-tier sleeper/AC chair car
                                </td>
                                <td  class="table_border_both_left">40 Kgs</td>
                                <td  class="table_border_both_left">10 Kgs</td>

                                <td  class="table_border_both_left">40 Kgs</td>
                            </tr>
                            <tr>
                                <td  class="table_border_both_left">Sleeper class</td>
                                <td  class="table_border_both_left">40 Kgs</td>
                                <td  class="table_border_both_left">10 Kgs</td>
                                <td  class="table_border_both_left">80 Kgs</td>

                            </tr>
                            <tr>
                                <td  class="table_border_both_left">Second class</td>
                                <td  class="table_border_both_left">35 Kgs</td>
                                <td  class="table_border_both_left">10 Kgs</td>
                                <td  class="table_border_both_left">70 Kgs</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="col-md-12">

                    The maximum limit includes free allowance.<br><br>

                    Passenger are allowed to book and carry excess luggage beyond the free allowance with them in
                    the compartment up to the maximum limit as per class mentioned above on payment of charge at 1.5
                    times of luggage rate.<br><br>

                    When a passenger is detected either en route or at the destination with un booked or partially
                    booked luggage weighing more than the free allowance, the excess un booked weight exceeding free
                    allowance of luggage is charged at six times the luggage scale rate instead of 6 times of scale
                    -R as earlier. However, if un booked or partially booked luggage is detected more than the free
                    allowance of then luggage but within the marginal allowance, it is charged at 1.5 times the
                    luggage scale rate. when a passenger is detected either en route or at destination with un
                    booked or partially booked luggage weighing more than the maximum limit permitted the excess
                    weight exceeding free allowance of luggage is charged at six times of the luggage scale rate
                    subject to a minimum of Rs.50/-.<br>
                    <br>

                    Luggage beyond the above quantity can be booked in advance and carried in brake Van.<br><br>

                    If your luggage marginally exceeds the free allowance, you will be charged at the normal luggage
                    rates applicable to your class of travel. Above marginal allowance penalty will be charged, If
                    detected . Make sure to book your excess luggage in the luggage office, pay the prescribed
                    charges and get your tickets endorsed by cross-referencing the luggage ticket details, before
                    commencing your journey. Free allowance is not admissible for articles such as scooters, cycles
                    etc.<br>

                    <br>

                    <strong>LUGGAGE GETS STOLEN EN ROUTE :</strong><br>

                    IN case of theft of luggage, robbery / dacoits in running trains, you can approach train
                    conductors/coach attendant/guards or GRP escort. They will give you the FIR Forms ,which may be
                    duly filled in and handed over to them. The complaint will then be forwarded to the Police
                    Station for necessary action. You need not break your Journey to lodge a complaint with the
                    police .you can also approach the RPF Assistance Posts at major railway stations, for any
                    assistance in lodging the complaint.<br>
                    <br>

                    <strong>LUGGAGE IS LOST OR DAMAGE :</strong><br>

                    Where value of the luggage booked has not been declared beforehand by the consignor and the
                    prescribing percentage charge not paid the monetary liability of the railways has been limited
                    to Rs. 100/- per Kg. However, where the consignor has declared the value of the consignment and
                    has also paid percentage charges, he will be entitled to get the claimed amount which will not
                    exceed the value of the luggage so declared at the time of booking . The procedure of payment of
                    percentage charge can be enquired from the luggage booking office. <br><br>

                    <strong>THEFT OF LUGGAGE :</strong>
                    <br>
                    A prescribed FIR Form in English, Hindi and regional Language is available in the Timetable or
                    with 'TTEs/Guards or GRP escort. After filling it up, the form may be handed over to one of the
                    official viz., TTE, Guard or GRP escort for registration of the report at the next police
                    station.
                    All at the above services and commitments will be honored without the citizens' having to pay
                    any bribe <br><br>
                    <strong>RULES FOR CARRYING PETS,DOGS,HORSES OTHER LIVE ANIMALS AND BIRDS RISK :</strong>
                    <ol>
                        <li> Under section 77-A of the Indian Railway Act, the liability of Railways as carriers of
                            animals is limited as specified below, unless the sender elects to pay the percentage
                            charge on value as shown in the Rule 1301: Per Head Elephants Rs.1500/- Horses Rs.750/-
                            Mules, Camels or Horned Cattle Rs.200/- Donkeys, sheep, goats, dogs and other animals or
                            birds Rs.30/-
                        </li>

                        <li> The sender or his authorized agent is required to declare the value of each animal on
                            the Forwarding Note when the value of an animal exceeds the amount specified above.The
                            sender or his authorized agent must also record in the Forwarding Note whether he
                            engages to pay the notified percentage charge on value. Should he elect no to pay the
                            notified percentage value on value, the animal will be accepted for carriage under the
                            terms and conditions of Section 77-A of Indian Railway Act.
                        </li>

                        <li> The Railway will not be liable for the loss, destruction or damage arising from freight
                            or restiveness of the animal or from overloading of vehicle or wagon by the consigner or
                            his agent or delay not caused by the negligence or misconduct of their servants,
                            irrespective of whether the sender has engaged to pay the percentage charge on value or
                            not.
                        </li>

                        <li> Railway will not be responsible for the loss, destruction, damage, deterioration or
                            non_delivery of animals after the termination of transit as defined in Rule 153.
                        </li>
                    </ol>

                    <strong>RULE AND RATES FOR CONVEYANCE OF DOGS :</strong>

                    <ol>
                        <li> Dogs when carried in the break-van and/or A.C.C. and first class passenger compartments
                            will be charged for at Scale 'L'(luggage Rates)on the basis of weights indicated below,
                            subject to a minimum charge of Rs.10/- per dog, charges being Prepaid: When carried in
                            break_van (Dog-Box) 30 Kgs When carried in passengers compartments 60 Kgs "Seeing Eye"
                            dog traveling with a blind person in the compartment (First class) will, however, be
                            charged the same tariff as for dogs carried in brake_van. The dogs must be provided with
                            Collars and Chains. Owners should make their own arrangements for food and water for the
                            dog during the journey. Dogs detected unbooked will be charged at six times the Luggage
                            Scale Rate subject to a minimum of Rs.50/-
                        </li>

                        <li> A passenger traveling in First Air condition class or first class may take a dog into
                            the compartment only with the concurrence of fellow passengers on payment of charges
                            vide Clause(1) above. The charges are to be prepaid. If fellow passengers subsequently
                            object to the dog remainig in the compartment, it will be removed to the Guard's van, no
                            refund being given. Dogs detected unbooked with the passenger in IA and Ist class
                            compartments will be charged six times the Luggage scale Rate subject to a minimum of
                            Rs.50/-. A lady travelling alone with children under 12 years of age in a first class
                            compartment may take with her in the compartment one dog on payment of charges at the
                            Dog Box Rates,subject to a minimum of Rs.10/-provided that if another lady enters the
                            compartment, the dog can only be allowed to remain in the compartment with her consent.
                            Any dog detected unbooked will be charged at double the dog-box rate for the distance up
                            to the point of detection and at the dog-box rate for the distance beyond the total
                            charge being subject to a minimum of Rs.20/- for each dog.
                        </li>

                        <li> Dogs are not allowed to be carried in ACC Sleeper Coaches, Acc chair car coaches
                            sleeper class and second class coaches.If a dog is found being carried in contravention
                            of this rule, it will be removed immediately to the brake-van and charges will be levied
                            six times the Luggage Scale Rate subject to a minimum of Rs.50/-
                        </li>

                        <li> Charge for dog carried in reserved compartments will be levied at the dog-box rate. Any
                            dog tetected unbooked will be charged six times the Luggage Scale Rate subject to a
                            minimum of Rs.50/-
                        </li>

                        <li> Large dogs which cannot be carried in the dog-box of a brake van will be carried in a
                            special vehicle at the same rates and conditions as for horses.
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
{% endblock %}