{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <div style="padding: 5px; margin-bottom: 2px">
            <div class="row text-center bg-primary text-white p-2" style="padding: 5px;">
                <strong>
                    Other Rules</strong>
            </div>
            <div class="row ">

                <div>
                    <br>
                    <table>

                        <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=new_Rules.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">New
                                            Rules</a></td>

                                    </tr>
                                    <tr>
                                        <td>&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=break_Journey.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">Break
                                            journey</a></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=sr_Cittizen.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">Sr.
                                            Citizen</a></td>
                                    </tr>

                                    <tr>
                                        <td>&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=circular_Journey.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">Circular
                                            Journey</a></td>
                                    </tr>
                                    <tr>
                                        <td height="18">&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=change_Name.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">Change
                                            in Name</a></td>
                                    </tr>
                                    <tr>

                                        <td height="18">&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=concession_Forms.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">Reservation
                                            Forms &amp; Concession Rules</a></td>
                                    </tr>
                                    <tr>
                                        <td height="18">&nbsp;<a
                                                href="https://www.indianrail.gov.in/enquiry/StaticPages/StaticEnquiry.jsp?StaticPage=tatkal_Scheme.html"
                                                class="bullet_icon"
                                                style="color:black;text-decoration:underline;line-height:30px;">Tatkal
                                            Scheme </a></td>
                                    </tr>
                                    <tr>
                                        <td height="18">&nbsp;<a
                                                href="http://www.claims.indianrail.gov.in/ " class="bullet_icon"
                                                target="_blank"
                                                style="color:black;text-decoration:underline;line-height:30px;">Claim
                                            and Refund </a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
{% endblock %}