{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row text-center text-white bg-primary p-2" style="padding: 5px;">
            <strong>
                Revised Refund Rules w.e.f. 12.11.2015</strong>
        </div>
        <div class="row ">

            <div>
                <br>
                <table>


                    <tbody>
                    <tr class="main_body_text">
                        <td colspan="3">
                            1. Certain provisions of refund rule have been amended and comprehensive refund rules
                            have been notified after 1998. The new refund rules shall be effective w.e.f.
                            12.11.2015.
                            <br><br>2. The Objective of the new changes in the refund rule are as Under:
                            <br> (i). To Plug the scope of misuse.
                            <br> (ii). Facilitate passengers with mobile ticketing/proposed paperless ticketing etc.
                            <br>
                            (iii) Discourage touts/agents on black marketing of tickets.
                            <br>
                            (iv) Automatic refund of fare on e-tickets in case of cancellation of trains (Already
                            implemented w.e.f. 01.07.2015). No TDR filing is required in this case.
                            <br><br>3. The major changes in the existing rules are as under:-
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="table-responsive">
                    <table
                            class="table table-bordered col-md-12" id="table1">
                        <tbody>
                        <tr class="bg-primary text-white">
                            <td class="heading_table_top">Rule</td>

                            <td class="heading_table_top">Pre revised (before
                                12.11.2015)
                            </td>
                            <td class="heading_table_top">Revised (w.e.f.
                                12.11.2015)
                            </td>
                        </tr>


                        <tr>
                            <td class="table_border_both_left"> 1.</td>
                            <td class="table_border_both_left"> Levy of clerkage per passenger for
                                cancellation of unreserved, RAC and waitlisted tickets:-
                                <br>
                                (i). Unreserved (second class): Rs. 15.
                                <br>
                                (ii) Second class (reserved) and other classes: Rs. 30
                            </td>
                            <td class="table_border_both_left"> Levy of clerkage per passenger for
                                cancellation of unreserved, RAC and waitlisted tickets:-
                                <br>
                                (i). Unreserved (second class): Rs. 30.
                                <br>
                                (ii) Second class (reserved) and other classes: Rs. 60
                            </td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left"> 2.</td>
                            <td class="table_border_both_left"> Cancellaton charge per passenger
                                confirmed (reserved) tickets:-
                                <br>
                                (i). 48 hours before the scheduled departure of the train minimum cancellation
                                charge
                                <br>
                                1st AC/executive class: Rs.120
                                <br>
                                2AC/1st Class Rs. 100
                                <br>
                                3AC/ACC/3A economy: Rs. 90
                                <br>
                                Second sleeper class: Rs. 60
                                <br>
                                Second class Rs. 30
                                <br>
                                (ii). Between 48 hours and 6 hours before the scheduled departure of the train @ 25%
                                subject to minimum charge as per (i) above.
                                <br>
                                (iii) From 6 hours before the
                                scheduled departure of the train and
                                upto 2 hours after the actual
                                departure of the train @ 50%
                                subject to minimum charge as per (i)
                                above.
                                <br>
                                (iv) No refund after the above prescribed time limit.
                            </td>
                            <td class="table_border_both_left">Cancellation charge per passenger on
                                confirmed (reserved) tickets:-
                                <br>

                                (i). 48 hours before the scheduled departure of the train minimum cancellation
                                charge
                                <strong>
                                    <br>
                                    1st AC/executive class: Rs. 240
                                    <br>
                                    2 AC/1st Class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                    Rs. 200
                                    <br>
                                    3AC/ACC/3A economy: Rs. 180
                                    <br>
                                    Second sleeper class&nbsp;&nbsp;: Rs. 120
                                    <br>
                                    Second class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                    Rs. 60
                                </strong>
                                <br>
                                (ii). Between 48 hours and 12 hours before the scheduled <br> departure of the train
                                @ 25% subject to minimum charge as per (i) above.
                                <br>
                                (iii) between 12 hours and 4 hours
                                before the scheduled departure of the
                                train @ 50% subject to minimum charge<br>
                                as per (i) above.
                                <br>
                                (iv) No refund after the above prescribed time limit.
                            </td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left"> 3.</td>
                            <td class="table_border_both_left"> Partially confirmed:
                                Upto two hours after the actual departure of the train.
                            </td>
                            <td class="table_border_both_left"> Partially confirmed:
                                Upto half an hour before the scheduled departure of the train,
                            </td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left"> 4.</td>
                            <td class="table_border_both_left"> Refund on unused RAC/WL tickets:

                                Upto 3 hours of the actual departure of the train subject to deduction in clerkage
                                charge.


                                No refund after the above
                                prescribed time limit.
                            </td>
                            <td class="table_border_both_left"> Refund on unused RAC/WL tickets:

                                Upto half an hour before the scheduled departure of the train subject to deduction
                                of clerkage charge.


                                No refund after the above prescribed time limit.
                            </td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left"> 5.</td>
                            <td class="table_border_both_left"> In case of cancellation of trains
                                for
                                e-tickets:
                                Before 01.07.2015, for refund, TDR
                                had to be filed. No change for
                                counter PRS ticket.
                            </td>
                            <td class="table_border_both_left"> In case of cancellation of trains
                                for e
                                tickets:
                                W. e.f. 01.07.2015, automatic refund is
                                granted. Filing of TDR is not required.
                                No change for counter PRS ticket.
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
{% endblock %}