{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <h5 class="text-center bg-primary text-white p-2">Reservation Rules</h5>

        <div class="row ">

            <div>
                <br>
                <table>

                    <tbody>
                    <tr>
                        <td class="main_body_text" width="0" height="0"><strong>IMPORTANT - FOR SENIOR CITIZENS
                            :</strong> <br>
                            From 1st September 2001 onwards, concession to senior citizens through PRS (Passenger
                            Reservation System) shall be granted only on demand and not by default as at present.
                            The demand for concession shall be made on Reservation Requisition form in the case of
                            reserved tickets. In the case of tickets issued to senior citizens on concession, during
                            journey the concerned passengers are instructed to carry some documentary proof showing
                            their age or date of birth, issued by any Government Institution/Agency/Local Body. like
                            Identity card, Driving License, Passport, Educational certificate, certificate from
                            Local Bodies like Panchayat/Corporation/Municipality, or any other authentic and
                            recognised document. This documentary proof of age should be produced if demanded by
                            some Railway official during the journey.<p>
                                <br> The minimum age for availing concession is 58 years in case of
                                <b>WOMEN SENIOR CITIZENS</b> and element of concession is 50% in
                                Basic Fare only.<br>
                                The minimum age for availing concession is 60 years in case of
                                <b>MEN SENIOR CITIZENS</b> and element of concession is 40% in
                                Basic Fare only. </p>
                            <p>There will be no change in other terms and conditions in both
                                the cases.(Railway Board No.TCII/2161/2011/SRC/Policy &nbsp;dated
                                13.05.2011)</p>
                            <p><strong>GENERAL CONDITIONS :</strong><br>

                                The Railway Administration reserves seats, berths, compartments, or carriage in
                                accordance with the rules and conditions published in the Coaching Tariff. A
                                passenger seeking reservation of berth or seats should purchase tickets from the
                                Railway Reservation Offices/Authorised Travel Agency only.

                                <br>
                                <br>
                                Advance reservations are made generally up to 120 days in advance for all classes
                                and all trains. The period of advance reservation (ARP) is exclusive of the day of
                                departure of the train.

                                <br>
                                <br>
                                At intermediate stations where the train arrives on the
                                following day, such reservations can be done more than 120 days in advance of date
                                of journey from the intermediate station. ARP is in relation to the date of journey
                                from train originating station. In case of some Inter-city day trains, the ARP is
                                less.

                                <br>
                                <br>
                                An individual can book only up to six passengers on one requisition form provided
                                all passengers are for the same destination and for the same train.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                w.e.f. 01-12-2012,any one of the passenger booked on a PNR for
                                undertaking journey in any class will have to produce any one of
                                the 10 prescribed proofs of identity in original) during the
                                journey failing which all&nbsp; the passengers booked on that
                                ticket will be treated as traveling&nbsp; without ticket and
                                charged accordingly. (ref. Railway Board letter
                                no.2011/TG-I/20/P/ID dated 01-11-2012) </p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                1.Voter Photo identity card issued by Election Commision of
                                India.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                2.Passport</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                3.PAN Card issued by Income Tax Department.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                4.Driving Licence issued by RTO.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                5.Photo identity card having serial number issued by
                                Central/State Government.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                6.Student Identity Card with photograph issued by recognized
                                School/College for their students.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                7.Nationalized Bank Passbok with photograph.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                8.Credit cards issued by banks with laminated photograph.</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                9.Unique Identification Card "Aadhaar".</p>
                            <p style="margin-bottom:12.0pt;line-height:normal">
                                10.Photo identity cards having serial number issued by Public
                                Sector Undertaking of State/Central Government, District
                                Administration, Municipal bodies and Penchant Administration.</p>
                            <p class="MsoNormal" style="text-align:justify">As per railway
                                board letter no.2011/tg-i/20/p/id dated 10.01.2013 attested
                                photocopy of ration card with photograph and nationalized bank
                                passbook with photographs shall also be accepted as a prescribed
                                proof of identity <b>only in case of reserved tickets booked
                                    through computerized passenger reservation system (PRS)
                                    counters, for undertaking journey in sleeper (SL) and second
                                    reserved sitting (2S) classes</b>. the photocopy of the ration
                                card with photograph and nationalized bank passbook with
                                photograph should be attested by gazetted officer or the chief
                                reservation supervisor or station manager/station master.</p>
                            <p class="MsoNormal" style="text-align:justify">The above
                                provision is <b>not applicable</b> for all classes of e-tickets
                                &amp; tatkal tickets and tickets issued through prs counter for
                                travelling in air-conditioned classes and first class.
                                travelling with these categories of tickets shall continue to be
                                governed by existing instructions.</p>
                            <p>Only one requisition form is accepted from a person at one time. However, if
                                onward/return journey are involved, 2 or 3 forms can be accepted for the same
                                passengers.

                                <br>

                                <br>
                                Accommodation will not be reserved without purchase of necessary journey ticket. No
                                reservation of accommodation will be made on provisional basis.

                                <br>
                                <br>
                                When berths are reserved for passengers, the intention is to provide sleeping
                                accommodation between 9 PM to 6 AM. During 6 AM to 9 PM, the passengers concerned,
                                if required make room for other passengers in compartment up to its carrying
                                capacity.

                                <br>
                                <br>
                                Passengers are requested to quote PNR number which is printed on each tickets on the
                                top left hand side for any enquiry or complaint relating to reservations.

                                <br>
                                <br>
                                Reservation ticket issued by the computerised system against pre-bought ticket must
                                be accompanied by the journey tickets on train. Similarly journey cum reservation
                                tickets bearing zero amount are not valid for journey unless accompanied by the
                                valid authority to travel authorising issue of such tickets.

                                <br>

                                <br>
                                Allotment of accommodation is done by the computer as per pre-defined logic. Efforts
                                are made to provide compact accommodation to persons booked under the same PNR on
                                first come first served basis.

                                <br>
                                <br>
                                The Railway Administration will endeavour to provide reserved accommodation but does
                                not guarantee the same and will admit no claim for compensation for inconvenience,
                                loss or extra expense due to such accommodation including carriages, not being
                                provided or reserved carriage not been attached to a particular train. The supply of
                                any particular type of carriage or the provision of a particular berth and seat is
                                also not guaranteed.

                                <br>
                                <br>
                                Departure time printed on the ticket is indicative for the
                                guidance of the passengers. Passengers must ascertain correct
                                timings from the Railway station on the day of journey. Such
                                tickets are printed up to 120 days in advance. Any changes in timing after the issue
                                of ticket can not be advised.

                                <br>
                                <br>
                                While every endeavour is made to advise changes in Time Table by due publicity,
                                Railway Administration shall not be liable for any claim/compensation if a passenger
                                misses a train on this account.<br>

                                <br>
                                <strong> TRANSFER/RESALE OF TICKETS PROHIBITED :<br>
                                </strong> Under Section 142 of the Railways ACT, journey tickets including any half
                                of a return ticket and season ticket are not transferable.

                                <br>
                                <br>If any person not being a Railway Servant or an agent authorised in this behalf
                                :

                                <br><br>a.sells or attempts to sell any ticket or any half of a return ticket, or
                                b.parts or attempts to part with the possession of a ticket against which
                                reservation of a seat or a berth has been made or any half of a return ticket or
                                season ticket. He shall be punishable under the Railways Act.
                                <br><br>In addition, if the purchaser or holder of transferred ticket travels or
                                attempts to travel therewith, he shall forfeit the ticket which he so purchased or
                                obtained and shall be deemed to be traveling without a proper ticket.<br><br>

                                <strong> PAYMENT THROUGH CREDIT CARDS :<br>

                                </strong> Payment through credit cards for issue of reserved tickets is accepted at
                                nominated counters of PRS locations of Northern Railway at IRCA Building, Lucknow
                                and Allahabad only .

                                <br>
                                <br> All Master Cards and Visa Cards are accepted.<br><br>

                                <strong>RESERVATION FEE AND SUPPLEMENTARY CHARGES ON SUPERFAST TRAINS :<br>
                                </strong> The reservation fee and supplementary charge on superfast train are as
                                under :<br>
                                <br>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-responsive">
                    <table class="table table-bordered"  >

                        <tbody>
                        <tr class="bg-primary text-white">
                            <th class="heading_table_top">CLASS</th>
                            <th class="heading_table_top">RESERVATION
                                FEE
                            </th>
                            <th class="heading_table_top">SUPPLEMENTARY
                                CHARGES FOR SUPERFAST TRAINS
                            </th>
                        </tr>


                        <tr>
                            <td class="table_border_both_left">AC Ist</td>

                            <td class="table_border_both_left">Rs. 60</td>
                            <td class="table_border_both_left">Rs. 75</td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left">AC 2 Tier</td>
                            <td class="table_border_both_left">Rs. 50</td>
                            <td class="table_border_both_left">Rs. 45</td>

                        </tr>
                        <tr>
                            <td class="table_border_both_left">Ist (Mail/Express)</td>
                            <td class="table_border_both_left">Rs. 50</td>
                            <td class="table_border_both_left">Rs. 45</td>
                        </tr>
                        <tr>

                            <td class="table_border_both_left">Ist (Ordinary)</td>
                            <td class="table_border_both_left">Rs. 50</td>
                            <td class="table_border_both_left">---</td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left">AC - 3 Tier</td>
                            <td class="table_border_both_left">Rs. 40</td>

                            <td class="table_border_both_left">Rs. 45</td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left">AC Chair Car</td>
                            <td class="table_border_both_left">Rs. 40</td>
                            <td class="table_border_both_left">Rs. 45</td>
                        </tr>

                        <tr>
                            <td class="table_border_both_left">Sleeper (Mail/Express)</td>
                            <td class="table_border_both_left">Rs. 20</td>
                            <td class="table_border_both_left">Rs. 30</td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left">Second Sitting (Mail/Express)</td>

                            <td class="table_border_both_left">Rs. 15</td>
                            <td class="table_border_both_left">Rs. 15</td>
                        </tr>
                        <tr>
                            <td class="table_border_both_left">Sleeper (Ordinary)</td>
                            <td class="table_border_both_left">Rs. 20</td>
                            <td class="table_border_both_left">---</td>

                        </tr>
                        <tr>
                            <td class="table_border_both_left">Second Sitting (Ordinary)</td>
                            <td class="table_border_both_left">Rs. 15</td>
                            <td class="table_border_both_left">---</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <ol>
                        <li> Military Officers traveling on free warrants, officers and staff of the Railway and P
                            &amp; T department traveling on Railway passes and MPs traveling on Identity Card are
                            exempted from payment of reservation fee.
                        </li>
                        <li> The supplementary charge is not recoverable from MPs traveling on Identity Card,
                            tourist holding Indrail passes, Railway Staff traveling on duty passes, privilege passes
                            and PTOs.
                        </li>

                        <li> A passenger found traveling in a Super Fast Train without paying supplementary charge
                            is liable to pay a penalty of Rs. 50/- in addition to the supplementary charge. However,
                            passenger holding through ticket duly fulfilling distance restriction and boarding a
                            superfast train at an intermediate station as per the ticket, is required to pay only
                            the supplementary charge.
                        </li>
                    </ol>
                    <p>


                        <strong>INDICATION OF BERTH/SEAT NUMBERS :<br>
                        </strong> Passengers with confirmed reservation will be allotted berths at the time of
                        booking and the coach and berth numbers are indicated on the ticket itself, except in case
                        of first class ACC and first class coaches. The compartment/cabin/coupe numbers for first
                        ACC and first class are allotted at the time of chart preparation.<br>
                        <br>

                        <strong> RESERVATION AGAINST CANCELLATION (R.A.C.) :<br>

                        </strong> The passengers whose names figure under R.A.C., are provided reserved sitting
                        accommodation initially and are likely to get berths becoming vacant due to last minutes
                        cancellation of reservation of passengers not turning up in time before the departure of the
                        train,.<br>
                        <br>

                        <strong> WHEN RESERVATION WORK CEASES :<br>
                        </strong> The requests for reservation at the reservation counters are accepted up to 4
                        hours before the scheduled departure of the train, after which, the reservation will be done
                        at the current counters at the stations up to one hour before the scheduled departure of the
                        train and thereafter by the Ticket Collector/Conductor on the platform, if vacant
                        berths/seats are available.<br>
                        <br>

                        <strong> RESERVATION FROM INTERMEDIATE STATIONS :<br>

                        </strong>(a) Requisition for reservation of berths in all classes from intermediate stations
                        not having computerised reservation facility are entertained on purchase of journey tickets
                        only. Such requisition should be given to the Station Master of the Intermediate station 72
                        hours before the scheduled departure of the train from the station. Such application shall
                        be sent to the nearest computerised reservation office at the earliest.<br>
                        <br>

                        <strong>CANCELLATION OF RESERVATION DUE TO LATE ARRIVAL OF PASSENGER :<br>
                        </strong>If a passenger, for whom a berth or seat has been reserved, does not turn up up to
                        10 minutes before the scheduled departure of the train, the Railway Administration may
                        cancel the accommodation reserved for him and allot it to the passenger on the RAC
                        list/Waiting list accordingly on priority.<br>
                        <br>

                        <strong>CHANGE OF BOARDING POINT :<br>
                        </strong> If a passenger desires to occupy reserved accommodation from any station enroute,
                        he would be permitted to entrain at any intermediate station he chooses irrespective of the
                        distance from the starting station subject to the following conditions :</p>

                    <ol>
                        <li> A specific request must be made in writing at any computerized reservation counter and
                            reservation made atleast 24 hours before the scheduled departure of the train from the
                            starting station.
                        </li>
                        <li>The Railway Administration reserves the right to use such accommodation from the
                            originating station up to the station at which the passenger is due to entrain.
                        </li>
                        <li>No refund will be permissible for the portion of journey not performed by the
                            passenger.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}