{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <h5 class="bg-primary text-white text-center p-2">Catering Charges</h5>
        <ol>
            <li>
                <a href="http://www.indianrailways.gov.in/railwayboard/uploads/directorate/traffic_comm/COMM-CIR2K14/CC-32_2014.PDF">
                    Catering Charges in Rajdhani/Shatabdi/Duronto Express Trains.</a>
            </li>
            <li>
                <a href="http://www.indianrailways.gov.in/railwayboard/uploads/directorate/traffic_comm/Comm-Cir2K12/CC-78.PDF">Revised
                    Tariff for Tea/Coffee, Breakfast and standard meals.</a>
            </li>
            <li>
                . For any complaint(s), passengers may call on toll free no.1800111321.
            </li>
            <li>
                Complaint books are available with TTE, Pantry Car Manager and Station Manager.
            </li>
            <li>For any other complaint log on to
                <a href="http://customercare.indianrailways.gov.in/"> www.customercare.indianrailways.gov.in</a>
            </li>
        </ol>
    </div>

{% endblock %}