{% extends 'base.html' %}
{% block title %}
    Welcome to Indian Railway
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <div style="padding: 5px; margin-bottom: 2px">
            <div class="row text-center bg-primary p-2 text-white" style="padding: 5px;">
                <strong>
                    Facilities for International Tourist</strong>
            </div>
            <br>
            <div>
                <img src="{% static 'img/Maharaja.jpg' %}" class="text-center col-md-12 img-responsive"
                     width="520" height="80" style="margin-left:auto;,margin-right:auto;">

                <div class="col-md-12"><br>
                    <br>
                    The International Tourist Bureaus are located at various important cities all over India at the
                    following locations :<br><br>

                </div>
                <div class="col-md-12 ">

                    <div class="table-responsive">

                        <table
                                class="col-md-12 table table-bordered">
                            <tbody>
                            <tr>
                                <td class="table_border_both_left"> KOLKATA</td>
                                <td class="table_border_both_left"> CHENNAI</td>
                                <td class="table_border_both_left"> BANGALORE</td>
                                <td class="table_border_both_left"> AHMEDABAD</td>

                            </tr>
                            <tr>
                                <td class="table_border_both_left"> SECUNDERABAD</td>
                                <td class="table_border_both_left"> JAIPUR</td>
                                <td class="table_border_both_left"> JODHPUR</td>
                                <td class="table_border_both_left"> VARANASI</td>

                            </tr>
                            <tr>
                                <td class="table_border_both_left"> NEW DELHI</td>
                                <td class="table_border_both_left"> AGRA-CANTT.</td>
                                <td class="table_border_both_left"> MUMBAI</td>
                                <td class="table_border_both_left"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <table>
                        <tbody>
                        <tr>
                            <td class="main_body_text">New Delhi &amp; Varanasi offices
                                are known as <strong>International Tourist Bureau. </strong>International Tourist
                                Bureau at New Delhi has started functioning round the clock w.e.f. 12-12-2014. These
                                provide assistance to the foreign tourists and NRIs regarding enquiries, booking,
                                reservation and travel planning etc.<br>
                                <br>
                                International Tourist Bureau, First Floor, Station Building,<br>
                                New Delhi Railway Station, New Delhi- 110055<br>

                                Phone : 91-11-42625156, Fax: 91-11-23343050<br>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr class="main_body_text">
                            <td class="main_body_text"><strong><br>
                                Vide RB letter No. 2016/Tourism/120/1 dtd 19.09.2017 Indrail passes have been
                                discontinued.
                                <!--INDRAIL PASS :-->
                            </strong></td>
                        </tr>

                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>

    </div>
{% endblock %}