{% extends 'base.html' %}
{% block title %}
    Hill Trains
{% endblock %}

{% load static %}
{% block content %}
    <div class="container-fluid">
        <h5 class="bg-primary text-white text-center p-2">Hill Trains</h5>
        <h6>SHIMLA :</h6>
        <p>Shimla was annexed by the British in 1819 after the Gurkha War. At that time it was known for the temple of
            Hindu Goddess Shyamala Devi. The Scottish civil servant Charles Pratt Kennedy built the first British summer
            home in the town in 1822.</p>
        <p>Lord Amherst, the Governor-General of Bengal from 1823 to 1828, set up a summer camp here in 1827, when there
            was only one cottage in the town, and only 'half a dozen' when he left that year.</p>
        <p>The military authorities were skeptic about the narrower gauge of two feet chosen for Kalka-Shimla Railway.
            They recommended a standard two feet by six inches gauge for mountain and light strategic railways.</p>
        <h6><a href="http://www.nr.indianrail.gov.in/nr/KangravaLLEYRAILWAY.doc">More on Kangra Valley Railway</a></h6>
        <h6><a href="http://www.nr.indianrail.gov.in/nr/KalkaShimlaRailway.doc">More on Kalka Shimla Railway</a></h6>
        <h6>MATHERAN :</h6>
        <p>Matheran Hill Railway is a heritage railway in Maharashtra, India. It was built between 1901 and 1907 by
            Abdul Hussein Adamjee Peerbhoy, financed by his father Sir Adamjee Peerbhoy of Adamjee Group at the cost of
            Rs.16, 00,000. Abdul Hussein Adamjee Peerbhoy was son of a renowned businessman Sir Adamjee Peerbhoy of
            Bombay, who visited Matheran often and wanted to build a railway to make it easier to get there.</p>
        <p>Hussain's plans for the railway were formulated in 1900 and construction started in 1904. The line was open
            to traffic by 1907</p>
        <h6>DARJEELING :</h6>
        <p>Darjeeling is the headquarters of Darjeeling district, in the Shivalik Hills on the lower range of the
            Himalaya, at an average elevation of 6,982 ft (2,128 m). During the British Raj in India, Darjeeling's
            temperate climate led to its development as a hill station (hill town) for British residents to escape the
            heat of the plains during the summers, becoming known as the Summer Capital.</p>
        <p>
            British residents to escape the heat of the plains during the summers, becoming known as the Summer Capital.
            Darjeeling is internationally famous for its tea industry and the Darjeeling Himalayan Railway, a UNESCO
            World Heritage Site. The tea plantations date back to the mid 19th century as part of a British development
            of the area.
        </p>
        <p>Darjeeling has several British-style public schools, which attract students from many parts of India and
            neighboring countries. The town, along with neighboring Kalimpong was a major center for the demand of a
            separate Gorkhaland state in the 1980s, the democratic movement for a separate state has begun again, this
            time without any accompanying violence.</p>
        <h6>OOTY:</h6>
        <p>Ooty is situated in the Nilgiri Biosphere Reserve. Ooty stands at an approximate height of 9,080 feet (2,767
            m) above sea level.
            Many of the forested areas and water bodies are off limits to most visitors in order to protect this fragile
            ecosystem. Some areas of the Biosphere Reserve have been earmarked for Tourism Development, and steps are
            being undertaken to open these areas to visitors whilst conserving the area. Generally tourists are
            encouraged to observe any local signage and not to enter reserved forests and protected areas. Much of Ooty
            has already been damaged by rampant commercialization as a result of tourism.</p>
    </div>
{% endblock %}